svg,
.butterfly2 {
  max-width: 40vw;
  max-height: 40vh;
}
.logo1,
.logo2 {
  display: contents;
  padding: 50px;
}
.butterfly1,
.butterfly2 {
  margin: 50px;
}

/***Butterfly1 styles***/

.wing1 {
  fill: #b0c52c;
  stroke: #000;
  stroke-width: 5;
}

.wing2 {
  fill: #2d8fd6;
  stroke: #000;
  stroke-width: 5;
}
.wing3 {
  fill: #fa0707;
  stroke: #000;
  stroke-width: 5;
}
.wing4 {
  fill: #ea0c84;
  stroke: #000;
  stroke-width: 5;
}

.circle1,
.circle2 {
  fill: #000;
}

.center {
  stroke: #000;
  stroke-width: 5;
}
